@media (min-width: 320px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 270px;
    height: 160px;
  }
}

@media (min-width: 375px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 280px;
    height: 160px;
  }
}

@media (min-width: 420px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 290px;
    height: 160px;
  }
}

@media (min-width: 476px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 300px;
    height: 160px;
  }
}

@media (min-width: 576px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 400px;
    height: 200px;
  }
}


@media (min-width: 768px) { 
  .blue{
    display: inline-block;
    justify-content: center;
    justify-content: space-around;
  }
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: 0px;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 400px;
    height: 200px;
  }
 }


@media (min-width: 992px) { 
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -130px;
    margin-bottom: 30px;
  }
  .blue img{
    height: 158px;
    width: 158px;
  }
  .blue{
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 400px;
    height: 200px;
  }
 }


@media (min-width: 1200px) { 
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -130px;
    margin-bottom: 30px;
  }
  .blue img{
    height: 158px;
    width: 158px;
  }
  .blue{
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 400px;
    height: 200px;
  }
 }


@media (min-width: 1400px) { 
  .earn{
    text-align: center;
    margin-top: 100px;
  }
  #wow{
    width: 100px;
    height: 100px;
    margin-left: -130px;
    margin-bottom: 30px;
  }
  .blue img{
    height: 158px;
    width: 158px;
  }
  .blue{
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .box{
    border: solid 2px rgb(0, 102, 255);
    width: 400px;
    height: 200px;
  }
 }